
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,600;0,700;0,800;1,500;1,600;1,700&display=swap');

  :root{
    --blue-color:#0fbcf9;
    --secondary-color:##f6e58d;
    --grey-color:#f3f3f3;
    --white-color:#fff;
    --black-color:#010101;
    --light-black-color:#717171;
    --transition: all 300ms ease-in-out;
  }


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 10px;
  }


  body{
    font-size : 1.6em;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
  }


  ul{
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: var(--black-color);
  }

/* Buttons-Style */
  button{
    outline : 0;
    border: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  img{
    width: 100%;
    display: block;
  }


/* Inputs-Style */
  input{
    border: none;
    outline: 0;
    font-family: inherit;
    font-size: 1.6rem;
  }

  .resize-animation-stopper *{
    animation: none !important;
    transition: none !important;
  }


  /* Back-grounds */
.bg-blue{background-color: var(--blue-color);}
.bg-yellow{background-color: var(--secondary-color);}
.bg-white{background-color: var(--white-color);}
.bg-grey{background-color: var(--grey-color);}


/* Text */
.text-black{color: var(--black-color)}
.text-white{color: var(--white-color);}
.text-blue{color: #0fbcf9;}
.text-light-black{color: var(--light-black-color);}
.text-uppercase{text-transform: uppercase;}
.text-center{text-align: center;}
.text-capitalize{text-transform: capitalize;}
.text-italic{font-size: italic;}



/* Font-Weights */
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}


/* Font-Sizes */
.fs-15{font-size: 1.5rem;}
.fs-16{font-size: 1.6rem;}
.fs-17{font-size: 1.7rem;}
.fs-18{font-size: 1.8rem;}
.fs-19{font-size: 1.9rem;}
.fs-20{font-size: 2rem;}
.fs-22{font-size: 2.2rem;}
.fs-24{font-size: 2.4rem;}
.fs-26{font-size: 2.6rem;}

/* Letter-Spacing */
.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.flex{
  display: flex;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.flex-sb{
  justify-content: space-between;
}

.flex-c{
  justify-content: center;
}

.grid{
  display: grid;
}

/* Container-Style */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* section-title */
.section-title{
font-weight: 600;
text-transform: uppercase;
padding:18px 0 24px 0;
}




/* margins */
.mg-5{
  margin: 5em;
}
.mg-4{
  margin: 4em;
}
.mg-3{
  margin: 3em;
}
.mg-2{
  margin: 2em;
}
.mg-1{
  margin: 1em;
}


.mgt-5{
  margin-top: 5em;
}
.mgb-5{
  margin-bottom: 5em;
}



/* paddings */

.pd-3{
  padding:3em;
}